#header {
  display: flex;
  justify-content: space-between;
  padding: 0px 2px 0px 2px;
  border-bottom: 1px solid grey;
  height: 72px;
  z-index: 50;
  background-color: rgb(236, 234, 231);
  position: relative;
  top: -4px;
}
#header > div > img {
  width: 40px;
}
#searchHeader {
  flex: 1 1 0%;
}
#searchHeader > input {
  width: 85%;
  line-height: 30px;
  border-radius: 10px;
  border: 0px;
  margin-right: 5px;
  padding-left: 15px;
}

#header > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#links > ul > li {
  list-style: none;
}
#links > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#links > ul > li {
  padding: 10px;
  border-right: 1px dashed grey;
  cursor: pointer;
}
#searchHeader > button {
  border-radius: 5px;
  border: 1px solid gray;
  line-height: 30px;
  cursor: pointer;
}
#searchHeader > button:hover {
  border-radius: 5px;
  border: 2px solid rgb(74, 74, 74);
  line-height: 30px;
  cursor: pointer;
  transform: scale(1.01);
  font-weight: 600;
}
#restaurantList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  margin: 10px;
}
#restaurant > img {
  width: 100%;
  height: 250px;
}
#restaurant {
  border-radius: 5px !important;
  padding: 5px 5px 0px 5px;
  margin: 8px;
  cursor: pointer;
  width: 20%;
}
#restaurant:hover {
  transform: scale(1.25);
  transition-duration: 500ms;
  background-color: #dfd2d2;
  z-index: 60;
}
#restaurant > h3 {
  font-weight: 600;
  margin: 4px;
}
#restaurant > h5 {
  margin: 4px;
  line-height: 15px;
}
#restaurant > h6 {
  margin: 4px;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  width: 32px;
  justify-content: space-between;
}
#searchHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 450px;
  align-items: center;
}
#Footer {
  background-color: black;
  height: 100%;
  color: rgb(173, 172, 172);
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  outline: none;
  bottom: -5;
  position: relative;
}
#main {
  width: 100%;
  margin: 5px 0px;
}
#loginButton {
  border: 2px solid grey;
  border-radius: 10px;
  margin: 10px 0px 10px 2px;
  cursor: pointer;
}
